@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "DM Sans";
  font-style: normal;
}
button {
  border: none;
  font-weight: 700;
}
p {
  font-weight: 400;
  color: #ffffff;
}
h1,
h2,
h3 {
  font-weight: 700;
  color: #ffffff;
}
/*H E A D E R */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 28px 24px;
}
#menu,
#logo {
  cursor: pointer;
}
#close {
  display: none;
  cursor: pointer;
}
.nav {
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  padding-bottom: 32px;
  padding-top: 32px;
  left: 0;
  top: 72px;
  display: none;
}
.nav p {
  cursor: pointer;
  margin-bottom: 20px;
}
.nav p:hover {
  mix-blend-mode: normal;
  opacity: 0.3;
}
.btn:hover {
  background-color: #dfdfdf;
  color: #000000;
}
.btn {
  background-color: #000000;
  width: 310px;
  color: #ffffff;
  height: 48px;
  cursor: pointer;
  border: none;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2.5px;
  color: #ffffff;
}
.nav hr {
  width: 82.66%;
  margin: 20px auto;
}
.nav p {
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2.5px;
  text-transform: toppercase;
  color: #000000;
}
/*U P P E R*/
#photographer {
  width: 100%;
}
#photo-tab,
#photo-desk,
.headers,
.compare {
  display: none;
}
.pattern {
  width: 128px;
  height: 6px;
  background: linear-gradient(
    26.57deg,
    #ffc593 0%,
    #bc7198 43.29%,
    #5a77ff 83.33%
  );
  left: 7.73%;
  position: absolute;
  top: 0;
}
.pricing {
  position: relative;
  padding: 0 29px;
}
.topper {
  background-color: #000000;
}
.pricing h1 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 3.33333px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 72px;
}
.pricing p {
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.6;
  margin-top: 16px;
  padding-bottom: 72px;
}
/*T O G G L E */
input[type="checkbox"] {
  width: 64px;
  height: 32px;
  background: #dfdfdf;
  border-radius: 16px;
  position: relative;
  -webkit-appearance: none;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
}
input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  top: 5px;
  left: 0;
  transition: 0.5s;
  transform: scale(1.1);
  background: #000000;
}
.switch {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 64px;
}
.switch h3 {
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  color: #000000;
}
.yearly {
  mix-blend-mode: normal;
  opacity: 0.5;
}
/* O P T I O N S*/
.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding: 0 28px;
}
.basic {
  background-color: #f5f5f5;
  text-align: center;
  width: 100%;
  height: 407px;
  margin-top: 24px;
  padding: 0 22px;
}
.basic h2 {
  font-size: 24px;
  line-height: 25px;
  color: #000000;
  padding-top: 56px;
}
.basic p {
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.6;
  margin-top: 18px;
}
.price {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 4.16667px;
  text-transform: toppercase;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 16px;
}
span {
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.6;
}
.plan {
  background-color: #000000;
  width: 245px;
  height: 40px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #ffffff;
  cursor: pointer;
  margin-top: 40px;
}
.pro {
  background-color: #000000;
  position: relative;
}
.pro::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  top: 0;
  left: 0;
  background: linear-gradient(
    26.57deg,
    #ffc593 0%,
    #bc7198 43.29%,
    #5a77ff 83.33%
  );
}
.pro h2 {
  color: #ffffff;
}
.pro p {
  color: #ffffff;
}
.pro h1 {
  color: #ffffff;
}
.pro button {
  background-color: #ffffff;
  color: #000000;
  font-weight: 700;
}
.secondspan {
  color: #ffffff;
}
/*F E A T U R E S*/
.features {
  padding: 64px 28px 0;
}
.one {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #dfdfdf;
}
.features h3 {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #000000;
}
.list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 23px;

  border-bottom: 1px solid #dfdfdf;
}
.posting {
  padding-top: 23px;
}
.list h3 {
  color: #000000;
}
.check p {
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.marks {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  margin-top: 16px;
  padding-right: 47px;
  padding-bottom: 24px;
}
#check {
  margin-top: 8px;
}
.beta {
  background-image: url(./starter-code/assets/shared/desktop/bg-beta.jpg);
  background-size: cover;
  width: 100%;
  height: 300px;
  padding: 64px 33px 0;
  position: relative;
}
.beta h2 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 3.33333px;
  text-transform: uppercase;
  color: #ffffff;
}
.invite {
  display: flex;
  margin-top: 24px;
}
#arrow {
  margin-left: 16px;
  filter: invert(100%) sepia(0%) saturate(7474%) hue-rotate(345deg)
    brightness(117%) contrast(100%);
}
.beta ::before {
  content: "";
  position: absolute;
  width: 128px;
  height: 6px;
  top: 0;
  left: 8.88%;
  background: linear-gradient(
    26.57deg,
    #ffc593 0%,
    #bc7198 43.29%,
    #5a77ff 83.33%
  );
}
footer {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upper,
.downer {
  text-align: center;
}
#footer-logo {
  margin-top: 56px;
}
.social {
  margin-top: 32px;
}
.media {
  margin-right: 13.33px;
  cursor: pointer;
}
.footer-nav {
  margin-top: 49px;
}
.footer-nav p {
  margin-bottom: 19px;
  cursor: pointer;
}
.footer-nav p:hover {
  mix-blend-mode: normal;
  opacity: 0.3;
}
.get {
  display: flex;
  justify-content: center;
  margin-top: 119px;
}
.get:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #ffffff;
}
.copyright {
  mix-blend-mode: normal;
  opacity: 0.5;
  padding: 34px 0 56px;
}
#arrow-footer {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(48deg)
    brightness(110%) contrast(114%);
  margin-left: 22px;
}
.twitter {
  fill: #fff;
}
.pin {
  fill: #fff;
}
.pin:hover {
  fill: url(#pin);
  cursor: pointer;
}
.insta {
  fill: #fff;
}
.fb {
  fill: #fff;
}
.yt {
  fill: #fff;
}
.yt:hover {
  fill: url(#yt);
  cursor: pointer;
}
.fb:hover {
  fill: url(#fb);
  cursor: pointer;
}
.insta:hover {
  fill: url(#insta);
  cursor: pointer;
}
.twitter:hover {
  fill: url(#twitter);
  cursor: pointer;
}
@media (min-width: 768px) {
  .topper {
    display: flex;
    height: 490px;
  }
  #photo-tab {
    display: block;
    order: 2;
    width: 50%;
  }
  #photographer {
    display: none;
  }
  .pricing {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 54px;
  }
  .pattern {
    width: 6px;
    height: 144px;
    left: 0;
    top: 173px;
  }
  .basic {
    display: flex;
    text-align: left;
    height: 270px;
    position: relative;
    justify-content: space-between;
  }
  .top,
  .down {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top {
    align-items: flex-start;
  }
  .basic h2 {
    margin-top: 40px;
    padding: 0;
  }
  .basic p {
    width: 270px;
  }
  .price {
    text-align: right;
    margin-top: 42px;
  }
  .plan {
    position: absolute;
    left: 40px;
    top: 190px;
    margin-top: 0;
  }
  .pro::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
      26.57deg,
      #ffc593 0%,
      #bc7198 43.29%,
      #5a77ff 83.33%
    );
  }
  .beta {
    background-image: url(./starter-code/assets/shared/tablet/bg-beta.jpg);
    background-size: cover;
    width: 100%;
    height: 300px;
    padding: 0 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .beta h2 {
    width: 400px;
  }
  .beta ::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
      26.57deg,
      #ffc593 0%,
      #bc7198 43.29%,
      #5a77ff 83.33%
    );
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    gap: 2rem;
    padding-right: 40px;
    height: 72px;
    position: absolute;
    top: 0;
  }
  .nav p {
    margin-bottom: 0;
  }
  .nav hr {
    display: none;
  }
  .btn {
    width: 158px;
    position: absolute;
    right: 40px;
  }
  #logo {
    z-index: 2;
  }
  footer {
    flex-direction: row;
    justify-content: space-between;
  }
  .upper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
  }
  .footer-nav {
    order: 2;
    display: flex;
  }
  .footer-nav p {
    margin-right: 26px;
  }
  .footer-nav {
    margin-top: 32px;
  }
  .social {
    order: 3;
    margin-top: 72px;
    padding-bottom: 64px;
  }
  .get {
    margin-top: 0;
    justify-content: flex-end;
  }
  .downer {
    margin-top: 55px;
    padding-right: 40px;
  }
  .copyright {
    margin-top: 110px;
  }
  .headers {
    display: block;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 6rem;
  }
  .check p {
    display: none;
  }
  .marks {
    gap: 7rem;
  }
  .list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .headers p {
    color: #000000;
    font-weight: 700;
  }
  .compare {
    display: block;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 4.16667px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 160px;
  }
}
@media (min-width: 1440px) {
  #photo-tab {
    display: none;
  }
  .options {
    flex-direction: row;
    gap: 30px;
  }
  .basic {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 407px;
  }
  .pro::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    top: 0;
    left: 0;
    background: linear-gradient(
      26.57deg,
      #ffc593 0%,
      #bc7198 43.29%,
      #5a77ff 83.33%
    );
  }
  .features {
    width: 44.7%;
    margin: 0 auto;
  }
  .price {
    text-align: center;
  }
  .top {
    align-items: center;
  }
  .pro {
    height: 470px;
  }
  .plan {
    margin-top: 40px;
    position: static;
  }
  #photo-desk {
    display: block;
    width: 50%;
    order: 2;
  }

  .upper,
  .downer {
    padding: 64px 170px;
    position: relative;
    margin-top: 0;
  }
  .black {
    width: 26.85%;
    margin-left: 112px;
  }
  header {
    padding: 0 165px;
  }
  .footer-nav {
    position: absolute;
    left: 430px;
    flex-direction: column;
    top: 35px;
  }
  footer {
    align-items: stretch;
  }
  #footer-logo {
    margin-top: 0;
  }
  .social {
    margin-top: 85px;
    padding-bottom: 0;
  }
  .copyright {
    margin-top: 86px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .beta ::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
      26.57deg,
      #ffc593 0%,
      #bc7198 43.29%,
      #5a77ff 83.33%
    );
  }
  .beta {
    background-image: url(./starter-code/assets/shared/desktop/bg-beta.jpg);
    background-size: cover;
    width: 100%;
    height: 300px;
    padding: 0 165px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
